{% extends "base.html" %}
{% block title %}Manage Costs{% endblock %}
{% block content %}
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Cost</th>
                <th>Comment</th>
                <th>Options</th>
            </tr>
            {% for cost in object_list %}
                <tr>
                    <td>{{ cost.created_at }}</td>
                    <td>{{ cost.name }}</td>
                    <td>{{ cost.cost }}</td>
                    <td>{{ cost.comment }}</td>

                    <td>
                        <a class="btn btn-default" href="{% url 'sheets:update-cost' pk=cost.id %}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-danger" href="{% url 'sheets:delete-cost' pk=cost.id %}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
