{% extends "base.html" %}

{% block title %}Add Cost{% endblock %}

{% block content %}
    <p class="text-success">Submit successfully!</p>

    <div class="w3-xlarge">Name: {{ object.name }}<br/>
        Cost: {{ object.cost }}<br/>
        Category: {{ object.get_category_display }}<br/>
        Comment: {{ object.comment }}<br/>
        Project: {{ object.project.name }}<br/>
        Payer: {{ object.payer }}<br/>
        Calculated: {{ object.calculated }}<br/>
        Created at: {{ object.created_at }}<br/>
    </div>
    <br/>
    <a class="btn btn-default" href="{% url 'sheets:add-costs' %}">Add another cost</a>
{% endblock %}
