{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Reservoir - Project Created{% endblock %}
{% block content %}
    <p class="alert alert-success fade in alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        {{ object.name }} project created!
    </p>
    <div class="panel panel-info">
        <div class="panel-heading">Invite Link</div>
        <div class="panel-body">
            <div class="input-group">
                <input id="invite-link" value="{{ invite_link }}" class="form-control" title="Invite Link" readonly>
                <div class="input-group-btn">
                    <button class="btn btn-default" data-clipboard-btn data-clipboard-target="#invite-link">
                        <span class="glyphicon glyphicon-copy" title="Copy Invite Link!"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="{% url 'index' %}">Continue</a>
{% endblock %}