{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Reservoir - Select Project{% endblock %}
{% block content %}
    <form action="{% url 'accounts:my-current-project' %}" method="post">
        {% if object_list %}
            {% csrf_token %}
            <h1>Select Project</h1>
            {% for project in object_list %}
                <div class="radio">
                    <p>
                        <label>
                            <input type="radio" name="project_id" value="{{ project.id }}"/>{{ project.name }}
                        </label>
                    </p>
                </div>
            {% endfor %}
            <button class="btn btn-primary">Select</button>
        {% else %}
            <p class="alert alert-warning fade in alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                You don't have any project yet.
            </p>
        {% endif %}

        <a class="btn btn-default" href="{% url 'accounts:my-new-project' %}">
            <span class="glyphicon glyphicon-plus"></span> Create New Project
        </a>
    </form>
{% endblock %}