<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Current Project</title>
</head>
<body>
<a href="{% url 'my-new-project' %}">Create New Project</a>
<form action="{% url 'my-current-project' %}" method="post">
    {% csrf_token %}
    {% for project in object_list %}
        <input type="radio" name="project_id" id="project{{ forloop.counter }}" value="{{ project.id }}"/>
        <label for="project{{ forloop.counter }}">{{ project.name }}</label><br/>
    {% endfor %}
    <input type="submit" value="Select"/>
</form>
</body>
</html>