{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Edit Project{% endblock %}
{% block content %}
    {% if is_updated %}
        <p class="alert alert-success fade in alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            Success!
        </p>
    {% endif %}
    <h1>Invite link</h1>
    <a href={{ invite_link }}>{{ invite_link }}</a>
    <form action="" method="post">
        {% csrf_token %}
        <h1>Project</h1>
        {% bootstrap_form project_form %}
        {% buttons submit='Save' %}{% endbuttons %}
        <h1>Members Responsibilities</h1>
        {% for error in memberships_formset.non_form_errors %}
            {{ error }}
        {% endfor %}
        <table class="table">
            {{ memberships_formset.as_table }}
        </table>
        {% buttons submit='Save' %}{% endbuttons %}
    </form>
{% endblock %}