{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %}Reservoir - Edit Project{% endblock %}
{% block content %}
    {% if is_updated %}
        <p class="alert alert-success fade in alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            Success!
        </p>
    {% endif %}

    <h1>Invite link</h1>
    <div class="input-group">
        <input id="invite-link" value="{{ invite_link }}" class="form-control" title="Invite Link" readonly>
        <div class="input-group-btn">
            <button class="btn btn-default" data-clipboard-btn data-clipboard-target="#invite-link">
                <span class="glyphicon glyphicon-copy" title="Copy Invite Link!"></span>
            </button>
        </div>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        <h1>Project Preferences</h1>
        {% bootstrap_form project_form %}
        {% buttons submit='Save' %}{% endbuttons %}
        <h1>Members Responsibilities</h1>
        {% for error in memberships_formset.non_form_errors %}
            {{ error }}
        {% endfor %}
        <div class="table-responsive">
            <table class="table">
                {{ memberships_formset.as_table }}
            </table>
        </div>
        {% buttons submit='Save' %}{% endbuttons %}
    </form>
{% endblock %}