{% extends "base.html" %}
{% block title %}Update Project{% endblock %}
{% block content %}
    <h1>Invite link</h1>
    <a href={{ invite_link }}>{{ invite_link }}</a>
    <form action="" method="post">
        {% csrf_token %}
        <h1>Project</h1>
        {{ project_form.as_p }}
        <input class="w3-button w3-xlarge" type="submit" value="Save"/>
        <h1>Members Responsibilities</h1>
        {{ memberships_formset.management_form }}
        <table>
            {% for form in memberships_formset %}
                {{ form.as_table }}
            {% endfor %}
        </table>
        <input class="w3-button w3-xlarge" type="submit" value="Save"/>
    </form>
{% endblock %}