<!DOCTYPE html>
<html lang="en">
<head id="top">
    <style>
        .reservoir-content {
            max-width: 980px;
            margin-top: 54px;
            margin-right: auto;
            margin-bottom: auto;
            margin-left: auto;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>{% block title %}Reservoir{% endblock %}</title>
</head>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card-2">
        <a href="#home" class="w3-bar-item w3-button"><b>{{ request.user.current_project.name }}</b></a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-left w3-hide-small">
            <a href="{% url 'accounts:my-projects' %}"
               class="w3-bar-item w3-button">{{ request.user.current_project.name }}</a>
        </div>
    </div>
</div>

<!-- Content -->
<div id="content" class="reservoir-content w3-padding">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>