{% extends 'bootstrap3/bootstrap3.html' %}
{% load static %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href={% static "bootstrap-social.css" %}>
    <script src="https://use.fontawesome.com/0a95c18c65.js"></script>
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Karma", sans-serif
        }

        .w3-bar-block .w3-bar-item {
            padding: 20px
        }
    </style>
{% endblock %}

{% block bootstrap3_title %}
    {% block title %}
        Reservoir
    {% endblock %}
{% endblock %}

{% block bootstrap3_content %}
    {% if request.user.current_project %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#base-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Reservoir</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="base-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'sheets:add-costs' %}"><span class="glyphicon glyphicon-plus"></span> Add Cost</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">{{ request.user.current_project.name }} <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'sheets:cost-list' %}">
                                    <span class="glyphicon glyphicon-usd"></span> Costs
                                </a></li>
                                <li><a href="{% url 'reports:current-project-report' %}">
                                    <span class="glyphicon glyphicon-stats"></span> Report
                                </a></li>
                                <li><a href="{% url 'accounts:update-my-project' pk=request.user.current_project.id %}">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </a></li>
                                <li><a href="{% url 'accounts:delete-my-project' pk=request.user.current_project.id %}">
                                    <span class="glyphicon glyphicon-trash"></span> Delete
                                </a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Hi {{ request.user }} <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'accounts:my-projects' %}">
                                    <span class="glyphicon glyphicon-retweet"></span> Change Project
                                </a></li>
                                <li><a href="{% url 'logout' %}">
                                    <span class="glyphicon glyphicon-log-out"></span> Logout
                                </a></li>
                            </ul>
                        </li>
                        <li></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    {% else %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#base-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Reservoir</a>
                </div>
            </div>
        </nav>
    {% endif %}

    <!-- Content -->
    <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

{% block bootstrap3_extra_script %}
    <script>
        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("baseSidebar").style.display = "block";
        }

        function w3_close() {
            document.getElementById("baseSidebar").style.display = "none";
        }
    </script>
{% endblock %}